.env
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp

/product-service/node_modules/

/product-service/dist/

/product-service/.npm
/product-service/coverage/
/product-service/.eslintcache

/product-service/.env
/product-service/.env.*
!/product-service/.env.example

/order-service/*.exe
/order-service/main

/order-service/vendor/

/order-service/.env
/order-service/.env.*
!/order-service/.env.example